# --- Core Model Library ---
ultralytics

# --- Computer Vision & Data ---
opencv-python
pandas
numpy

# --- Simulation ---
carla

# --- GUI ---
customtkinter
Pillow

# --- Jupyter Notebook Support ---
ipykernel